<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include styles.ejs %>
    <% for(var i = 0; i < config.styles.length; i++) { %>
      <link href='<%= config.styles[i] %>' rel='stylesheet' />
    <% } %>
    <script>
      SETTINGS = <%- JSON.stringify(settings) %>
    </script>
    <% for(var i = 0; i < config.scripts.length; i++) { %>
      <script src='<%= config.scripts[i] %>' type='text/javascript'></script>
    <% } %>
  </head>
  <body>
    <span ng-view></span>
  </body>
 </html>